# 文件夹
/**/.gradle/
/**/gradle/
/**/__MACOSX/
/.dart_tool/
/.idea/
/build/

# 文件
/**/.DS_Store
/**/gradlew
/**/gradlew.bat
*.iml
.metadata
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock

# 项目
/ios/
